version: "3.8"

services:
  client:
    container_name: client
    restart: always
    build:
      context: ./chat-client
    env_file:
      - ./chat-client/.env
    ports:
      - "3000:3000"
    depends_on:
      - server
    networks:
      - mern-app  
  server:
    container_name: server
    restart: always
    build:
      context: ./server
    env_file:
      - .env
    ports:
      - "5000:5000"
    networks:
      - mern-app
    depends_on:
      - mongo
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    networks:
      - mern-app
    volumes:
      - mongo-data:/data/db
networks:
  mern-app:
    driver: bridge
volumes:
  mongo-data:
    driver: local      
  chat-client:
    name: chat-client
  server:
    name: server
 